body {
    text-align: center;
    color: whitesmoke;
    background-color: black;
}
h1 {
    font-size:xx-large;
}
h2 {
    font-size: x-large;
    padding: .5%;
}
h3 {
    font-size: x-large;
    padding: .5%;
}
ul {
    list-style: inside;
}

ol {
    list-style-position: inside;
    list-style-type: decimal;
}

p {
    padding: .5%;
    font-size: larger;
}

div{
    padding: 2em;
}
script {
    font-size: x-large;
    font-stretch: expanded;
    padding: .5%;
    margin: auto;
}